{% extends 'layouts/base.html' %}

{% block title %} Patients' Info {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Patients' Info</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Doctor's View</a></li>
                <li class="breadcrumb-item active" aria-current="page">Patients' Info</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <form method="post" action="patients-info.html">
          {% csrf_token %}
              <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                  <h3 class="mb-0">Registered Patients</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" class="sort" data-sort="name">Patient's Name</th>
                        <th scope="col" class="sort" data-sort="health-related-info">Health-related Info</th>
                        <th scope="col" class="sort" data-sort="diagnosis">Diagnosis</th>
                        <th scope="col" class="sort" data-sort="medical-record">Medical Record</th>
                        <th scope="col" class="sort" data-sort="doctor">Doctor</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody class="list">
                      {% for patient in patients %}
                        {% if patient.status == "Registered" %}
                              <tr>
                                <th scope="row">
                                  <div class="media align-items-center">
                                    <a href="#" class="avatar rounded-circle mr-3">
                                      <img alt="Image placeholder" src="/static/assets/img/theme/patient.png">
                                    </a>
                                    <div class="media-body">
                                      <span class="name mb-0 text-sm">{{ patient.first_name }} {{ patient.last_name }}</span>
                                    </div>
                                  </div>
                                </th>
                                <td class="health-related-info">
                                  {{ patient.health_related_info|truncatechars:25 }}
                                </td>
                                <td class="diagnosis">
                                  {{ patient.diagnosis|truncatechars:25 }}
                                </td>
                                <td class="medical-record">
                                  {{ patient.medical_record|truncatechars:25 }}
                                </td>
                                <td class="doctor">
                                  {{ patient.get_doctor_display }}
                                </td>
                                <td class="text-right">
                                  <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                      <button class="dropdown-item" name="admit" value="{{ patient.pk }}">Admit</button>
                                      <button class="dropdown-item" name="update" value="{{ patient.pk }}">Update</button>
                                      <button class="dropdown-item" name="remove" value="{{ patient.pk }}">Remove</button>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
                <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                  <h3 class="mb-0">Admitted Patients</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" class="sort" data-sort="name">Patient's Name</th>
                        <th scope="col" class="sort" data-sort="health-related-info">Health-related Info</th>
                        <th scope="col" class="sort" data-sort="diagnosis">Diagnosis</th>
                        <th scope="col" class="sort" data-sort="medical-record">Medical Record</th>
                        <th scope="col" class="sort" data-sort="doctor">Doctor</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody class="list">
                      {% for patient in patients %}
                        {% if patient.status == "Admitted" %}
                              <tr>
                                <th scope="row">
                                  <div class="media align-items-center">
                                    <a href="#" class="avatar rounded-circle mr-3">
                                      <img alt="Image placeholder" src="/static/assets/img/theme/patient.png">
                                    </a>
                                    <div class="media-body">
                                      <span class="name mb-0 text-sm">{{ patient.first_name }} {{ patient.last_name }}</span>
                                    </div>
                                  </div>
                                </th>
                                <td class="health-related-info">
                                  {{ patient.health_related_info|truncatechars:25 }}
                                </td>
                                <td class="diagnosis">
                                  {{ patient.diagnosis|truncatechars:25 }}
                                </td>
                                <td class="medical-record">
                                  {{ patient.medical_record|truncatechars:25 }}
                                </td>
                                <td class="doctor">
                                  {{ patient.get_doctor_display }}
                                </td>
                                <td class="text-right">
                                  <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                      <button class="dropdown-item" name="update" value="{{ patient.pk }}">Update</button>
                                      <button class="dropdown-item" name="remove" value="{{ patient.pk }}">Remove</button>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            <a href="register-a-patient.html" class="btn btn-lg btn-primary" style="float: right;">Register Patient</a>
          </form>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
