{% extends 'layouts/base.html' %}

{% block title %} Payment Success {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-9 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Smart Pharmacy</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Patient's View</a></li>
                <li class="breadcrumb-item"><a href="#">Smart Pharmacy</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                      <h3 class="mb-0">Payment Success!</h3>
                        <div class="card-body">
                            <p>Collect your medicine at Counter 1B, TechCare Centre. Thank you for using TechCare!</p>
                        </div>
                    </div>
                </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
